* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  color: #333;
  text-align: center;
}

body {
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

header {
  padding: 50px 0;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  height: 95vh;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

button {
  font-size: 1.3em;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5em;
}

.result {
  font-size: 1.3em;
}

.rock {
  background: url(images/rock.png);
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paper {
  background: url(images/paper.png);
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.scissors {
  background: url(images/scissors.png);
  width: 150px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reset {
  font-size: 2em;
  margin-top: 35px;
  background: none;
  border: none;
}

/* BUTTON HOVER ANIMATION */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.rock:hover {
  animation: floating 1.5s ease-in-out infinite;
  cursor: pointer;
}
.paper:hover {
  animation: floating 1.5s ease-in-out infinite;
  cursor: pointer;
}
.scissors:hover {
  animation: floating 1.5s ease-in-out infinite;
  cursor: pointer;
}
